.container
	%h1 Start a New Game

	#new-game
		= form_for @game, url: game_index_path(@game) do |f|
			.form-group.stacked
				= f.label :name, "Give this game a name:"
				= f.text_field :name, placeholder: "e.g., 'Hearts'"

			= f.submit

	%br

	%p= link_to "◀️ Back to games list", game_index_path
